DEBUG=True
SECRET_KEY=django-insecure-local-dev-key
ALLOWED_HOSTS=127.0.0.1,localhost

DB_HOST_PGSQL=127.0.0.1
DB_PORT_PGSQL=5432
DB_NAME_PGSQL=shop_PrakUcheb
DB_USERNAME_PGSQL=postgres
DB_PASSWORD_PGSQL=your_password
